* {
  box-sizing: border-box;
}

#root {
  margin: 0;
  padding: 0;
  text-align: center;
  color: white;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Inter', sans-serif;
  background-image: url('./assets/2580.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  height: 100vh;
}

.container {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.contain {
  box-shadow: 0 0 10vw rgb(0, 0, 0);
  height: 90vh;
  width: 90vw;
  border-radius: 1vw;
  display: flex;
}

.pt1 {
  /* background-color: red; */
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

nav.search-box {
  /* background-color: green; */
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: center; */
  /* position: relative; */
  color: rgb(61, 61, 61);
  /* width: fit-content; */
}

input.search-box {
  height: 4rem;
  width: 30vw;
  border-radius: 2rem;
  border: 0.15rem solid rgb(120, 120, 120);
  padding: 0 15%;
  font-size: larger;
  color: rgb(61, 61, 61);
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
  background-color: aliceblue;
}

.main {
  width: 100%;
  height: 40%;
  /* background-color: yellow; */
  /* padding: 1rem 5rem; */
  width: 30vw;
}

.temperature {
  /* background-color: rgb(255, 0, 191); */
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  height: 60%;
}

span.temp {
  /* background-color: violet; */
  color: white;
  font-size: 7rem;
}

span.icon {
  /* background-color: tomato; */
}

.city {
  /* background-color: red; */
  /* height: 4rem; */
  font-size: 3rem;
  text-align: start;
}
