/* .vazirmatn-bold {
  font-family: 'Vazirmatn', sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
} */

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  margin: 0;
  padding: 0;
  /* direction: rtl; */
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Inter', sans-serif;
}

.container {
  background-color: rgb(255, 229, 145);
  width: 70vw;
  height: 90vh;
  border-radius: 0.6rem;
}

nav.search-box {
  /* background-color: blue; */
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  color: rgb(61, 61, 61);
}

input.search-box {
  height: 50%;
  width: 100%;
  border-radius: 10rem;
  border: 0.15rem solid rgb(120, 120, 120);
  padding: 0 4%;
  margin: 0 20%;
  font-size: larger;
  color: rgb(61, 61, 61);
}

.fa-search {
  position: absolute;
  left: 74%;
  color: rgb(61, 61, 61);
}

.weather-info {
  /* background-color: red; */
  margin: 0 2rem;
  height: 70%;
  display: flex;
  /* justify-content: space-between; */
  /* flex-direction: row; */
  font-size: x-large;
}

.essentials {
  background-color: rgb(235, 255, 240);
  width: 40%;
  padding: 2rem 1rem;
  border-radius: 0.4rem;
  margin: 1rem;
  display: flex;
  gap: 0.6rem;
  flex-direction: column;
  justify-content: space-around;
}

.detail {
  /* display: flex; */
  align-items: center;
  padding: 1rem;
  justify-content: center;
  border-radius: 1rem;
}

.temperature {
  /* background-color: palevioletred; */
  border: 0.1rem dashed gray;
  height: 20%;
  /* display: flex;
  align-items: center;
  padding: 1rem 1rem 1rem 6%;
  border-radius: 1rem; */
}

.feels-like {
  background-color: rgba(127, 255, 212, 0.6);
  height: 20%;
  /* display: flex;
  align-items: center;
  padding: 1rem 1rem 1rem 10%;
  border-radius: 1rem; */
}

.weather {
  background-color: rgba(220, 20, 60, 0.5);
  display: flex;
  /* align-items: center;
  justify-content: center;
  border-radius: 1rem; */
  /* justify-content: start; */
}

.weather img {
  margin: 0 4% 0 2%;
}

.big-icon {
  background-color: rgba(0, 0, 255, 0.5);
  height: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
}

.additional {
  background-color: rgb(0, 247, 255);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 60%;
}

.item {
  background-color: chocolate;
  flex-basis: 10%;
}
